.wrapper {
  display: flex;
}
.side-bar {
  background-color: rgb(188, 225, 248);
  width: 300px;
  height: 100vh;
  padding: 0 20px;
}
.side-bar-header {
  height: 90px;
  padding: 0 20px;
}
.rooms {
  background-color: rgb(211, 233, 247);
  height: calc(100vh - 100px);
}
.room {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
  padding: 0 20px;
}
.room-header {
  height: 90px;
  padding: 0 40px;
}
.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}
.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}